.DS_Store

*/build
Ufo/*/build
maxMSP/Tralala/build
maxMSP/Ufo/*/build
maxMSP/Tralala/tralala.xcodeproj
maxMSP/Tralala/tralala.xcconfig
maxMSP/Tralala/tralalaHide.txt
pizAlgorithms/PizAlgorithms.xcodeproj
pizAlgorithms/pizAlgorithms.xcconfig
